In [1]:
import pandas as pd

In [2]:
#td = pd.read_json('data/train.json.zip', compression='zip')
td = pd.read_json('data/train.json')

### Format of data

In [3]:
td.head(1) # 49352 records
#td['interest_level']

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue

### Find missing values

In [4]:
# find the missing data for each variable

# bathrooms

bath_series = td[td['bathrooms'] == 0]
bath = bath_series['bathrooms']
bath_m = bath.count()

# bedrooms

bed_series = td[td['bedrooms'] == 0]
bed = bed_series['bedrooms']
bed_m = bed.count()

# building id

bid_series = td[td['building_id'] == '0']
bid = bid_series['building_id']
bid_m = bid.count()

# created (date)

td['created'] = pd.to_datetime(td['created'])
#created_series = td[td['created'] == '2016-06-11']
#created = created_series['created']
created = td['created']
created_m = 0 # no missing data

# description

desc_series = td['description'].str.strip()
desc_count1 = desc_series.where(desc_series=='').count()
desc_count2 = desc_series.where(desc_series=='<p><a  website_redacted').count()
desc_m = desc_count1+desc_count2

# display address

d_add = td['display_address'].str.strip()
d_add_m = d_add.where(d_add=='').count()

# features

features_series = td['features'].str.len()
feat_m = features_series[features_series == 0].count()

# interest level

intl_series = td['interest_level']
filt_low = intl_series == 'low'
filt_med = intl_series == 'medium'
filt_high = intl_series == 'high'
intl_m = intl_series.where(~(filt_low | filt_med | filt_high)).dropna().count()

# latitude

lat_series = td[td['latitude'] == 0]
lat = lat_series['latitude']
lat_m = lat.count()

# listing id

lid_series = td['listing_id']
#lid = lid_series['listing_id']

# longitude

lon_series = td[td['longitude'] == 0]
lon = lon_series['longitude']
lon_m = lon.count()

# manager id

#mid_series_1 = td[td['manager_id'] == ' ']
#mid_1 = mid_series_1['manager_id']
mid = td['manager_id'].str.strip()
#mid.where(mid==0).dropna()
mid.where(mid=='').dropna()
mid_m = mid.count()

# photos

photo_series = td['photos'].str.len()
photos = td['photos']
p_m = photo_series[photo_series == 0].count()

# price

price_series = td[td['price'] == 0]
price = price_series['price']

# street address

s_add = td['street_address'].str.strip()
s_m = s_add.where(s_add=='').count()

### Missing description data is either a blank string or empty html attribute

In [5]:
desc_series.value_counts().head(2)

                           3333
<p><a  website_redacted     333
Name: description, dtype: int64

### Interest level data is not missing any fields

In [6]:
intl_series.value_counts(dropna='False')

low       34284
medium    11229
high       3839
Name: interest_level, dtype: int64

## Output for number of missing data per attribute

In [8]:
d = {'bathrooms': [bath_m],'bedrooms': [bed_m], 'building_id':[bid.count()], 'created':[created_m], 'description':[desc_m], 'display_address':[d_add_m], 'features':[feat_m], 'latitude':[lat.count()], 'longitude':[lon.count()], 'listing_id':[0], 'manager_id':[0], 'photos':[p_m], 'price':[price.count()], 'street_address':[s_m], 'interest_level':[intl_m] }
df = pd.DataFrame(data=d)
df

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,313,9475,8286,0,3666,137,3218,0,12,0,12,0,3615,0,10